# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Local database
banco.db

# Environment variables
.env

# VS Code
.vscode/

# Pytest / cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db